<h1>Welcome, <%= @provider.name %>!</h1>

<h4>Profile Information</h3>
<p>Specialty: <%= @provider.specialty %> </p>
<p>Email:  <%= @provider.email %></p>
<p>Experience: <%= @provider.experience%> </p>
