<% provide(:title, 'FleetMED Users') %>

<ul>
  <li>
    <%= render @users %>
    # calling render on a user variable of class User tells Rails to check for partial called _user.html.erb
  </li>
</ul>
