@import 'normalize/import-now'; // import-now allows us to skip using mixin for each class
@import 'partials/variables';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// styling for our debug section
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  border: 1px dashed gray;
}

.appbody {
  background-color: $lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1024px;
}
