@import "partials/variables";

.login__container {
  background-color: $lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 45px);
}

// Login Styles
.login__form {
  align-self: center;
  background-color: $darkgray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 376px;
  justify-content: center;
  width: 532px;
}

.login__form--inputcontainer {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.login__form--input {
  align-self: center;
  box-shadow:  inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: inset 1px rgba(151, 151, 151, 1.0);
  border-radius: 3px;
  display: block;
  height: 38px;
  padding: 0 0.5rem;
  width: 356px;
}

.login__form--email {
  align-self: flex-end;
}

.login__rememberbox {
  align-self: center;
  flex: 1;
  margin: 0px;
  margin-top: -24px;
}

.login__remembertext {
  color: #CBCBCB;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 100;
}

.login__submitcontainer {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.login__submit {
  background-color: #45AD56;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 15px;
  height: 50px;
  width: 130px;
  border: inset 1px #979797;
  margin-right: 28px;
  margin-top: 15px;
  padding: 0px;
}
